<!DOCTYPE html>
<html>
  <title>Error</title>
  <body>
    <h1>Error Page</h1>
    <h3>Seems like you misspelled  the url,</h3>
    <h3>Check The URL for any misspelling.</h3>
    <style>
    body {
      background-image: url('https://cdn.glitch.global/91ab612a-dd07-4fdd-b52f-e5ddb80b0ace/whiteBack.jpeg?v=1705102845912');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    h3 {
      margin: 0;
      padding: 0;
    }

    </style>
  </body>
</html>
